.container {    
    display: grid;
    height: 100vh;
    width: 100%;
    /* grid-template-colums: 200px 5rem 20% auto; */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [row-1-start]5rem [row-1-end row-2-start] minmax(10px, 400px) [row-2-end row-3-start] 100px [row-3-end];    
}

.header {
    grid-row-start: row-1-start;
    grid-row-end: row-1-end;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: purple;    
}

.side-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;        
    grid-row-start: row-2-start;
    grid-row-end: row-2-start;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: green;    
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
    grid-row-start: row-2-start;
    grid-row-end: row-2-end;
    grid-column-start: 2;
    grid-column-end: 3 span;
    background-color: teal;
}

.footer {
    grid-row-start: row-3-start;
    grid-row-end: row-3-end;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: burlywood;
}